.tag {
  background-image: url(./tag.png);
  background-size: 100% 100%;
  background-position: center;
  width: 400px;
  height: 400px;
  margin-left: -300px;
}

#profileForm {
  position: fixed;
  margin-left: 200px;
}

#profile {
  background-image: url(./profile.jpg);
  background-size: cover;
  background-position: center;
}
