.tag {
  background-image: url(./tag.png);
  background-size: 100% 100%;
  background-position: center;
  width: 300px;
  height: 300px;
}

.profile {
  background-image: url(./profile.jpg);
  background-size: cover;
  background-position: center;
}

.profileForm {
  width: 400px;
  padding: 50px;
}

@media screen and (max-width: 575.98px) {
  .profileForm {
    margin-top: 19vh;
  }
}
