<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <a href="#">首頁</a>
  <a href="#">資料庫</a>
  <a href="#">報修單</a>
  <a href="#">維修單</a>
  <a href="login">登入</a>
  <a href="products">products</a>
</body>

</html>