<!DOCTYPE html>
<html>
  <head>
    <% path = '../partials/' %> <%- include(path + 'head') %>
  </head>

  <body>
    <!-- NAVBAR -->
    <%- include(path + 'navbar') %>
    <!-- HEADER -->
    <%- include(path + 'header') %>

    <!-- ACTIONS -->
    <section class="bg-light py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <a class="btn btn-primary text-light btn-block" href="#"
              ><i class="fas fa-plus"></i> Add Post</a
            >
          </div>
          <div class="col-md-2">
            <a class="btn btn-success text-light btn-block" href="#"
              ><i class="fas fa-plus"></i> Add Category</a
            >
          </div>
          <div class="col-md-2">
            <a class="btn btn-warning btn-block" href="#"
              ><i class="fas fa-plus"></i> Add Users</a
            >
          </div>
        </div>
      </div>
    </section>

    <!-- JavaScript -->
    <%- include(path + 'JavaScript') %>
  </body>
</html>
