<!DOCTYPE html>
<html>

<head>
    <% path = '../partials/' %>
    <%- include(path + 'head') %>
</head>

<body>
    <!-- NAVBAR -->
    <%- include(path + 'navbar') %>
    <!-- HEADER -->
    <%- include(path + 'header') %>

    <!-- ACTIONS -->
    <section class="bg-light py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a class="btn btn-primary text-light btn-block" href="#"><i class="fas fa-plus"></i> Add Post</a>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-success text-light btn-block" href="#"><i class="fas fa-plus"></i> Add Category</a>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-warning btn-block" href="#"><i class="fas fa-plus"></i> Add Users</a>
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid">
        <div class="row">
            <table class="table table-striped col-md-1 ml-5">
                <thead class="bg-info">
                    <tr>
                        <th scope="row" class="align-middle m-2">資料表</th>
                    </tr>
                </thead>
                <tbody>
                    <% for ( var i = 0 ; i < 10 ; i++){ %>
                    <tr>
                        <td class="align-middle">
                            1
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <div class="row">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control" id="idInput" placeholder="search id">
                        <input type="button" value="search" class="btn btn-primary" onclick="" />
                    </div>
                </div>
                <div class="row">
                    <table class="table table-striped col-md-12">
                        <thead class="bg-info">
                            <tr>
                                <th scope="row" class="align-middle m-2">資料格1</th>
                                <th scope="row" class="align-middle m-2">資料格2</th>
                                <th scope="row" class="align-middle m-2">資料格3</th>
                                <th scope="row" class="align-middle m-2">資料格4</th>
                                <th scope="row" class="align-middle m-2">功能</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for ( var i = 0 ; i < 10 ; i++){ %>
                            <tr>
                                <td class="align-middle">
                                    1
                                </td>
                                <td class="align-middle">
                                    1
                                </td>
                                <td class="align-middle">
                                    1
                                </td>
                                <td class="align-middle">
                                    1
                                </td>
                                <td class="align-middle">
                                    <input type="button" name="edit" value="Edit" class="btn btn-success btn-sm"
                                        onclick="" />
                                    <input type="button" name="delete" value="Del" class="btn btn-warning btn-sm"
                                        onclick="" />
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <%- include(path + 'JavaScript') %>
</body>

</html>