/* root loading animation */
.loading-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../img/loading-background.jpg);
  background-size: cover;
  background-position: center;
  animation: page-out-top 2.55s linear;
  -webkit-animation: page-out-top 2.55s linear;
  animation-delay: 2.9s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.loading-ring {
  position: fixed;
  top: 15%;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../img/loading-ring.png);
  background-size: 100% 100%;
  background-position: center;
  -webkit-animation: page-out-top 2.75s ease-out;
  animation: page-out-top 2.75s ease-out;
  animation-delay: 2.8s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.loading-hand {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../img/loading-hand.png);
  background-size: cover;
  background-position: center;
  animation: page-out-top 2.5s ease-out;
  -webkit-animation: page-out-top 2.5s ease-out;
  animation-delay: 2.75s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.loading-title {
  position: fixed;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 0;
  animation: page-out-top 2.5s ease-out;
  -webkit-animation: page-out-top 2.5s ease-out;
  animation-delay: 2.8s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.loading-title h1 {
  color: #2600ff;
  font-weight: 400;
  font-size: 16vmin;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.opacity {
  opacity: 0;
  -webkit-animation: fade-in 1s linear;
  animation: fade-in 1s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.jump {
  -webkit-animation: jump 1s ease-in-out;
  animation: jump 1s ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.jump-1 {
  animation-delay: 1.1s;
}

.jump-2 {
  animation-delay: 1.2s;
}

.jump-3 {
  animation-delay: 1.3s;
}

.jump-4 {
  animation-delay: 1.4s;
}

.jump-5 {
  animation-delay: 1.5s;
}

.jump-6 {
  animation-delay: 1.6s;
}

.jump-7 {
  animation-delay: 1.7s;
}

.jump-8 {
  animation-delay: 1.8s;
}

.jump-9 {
  animation-delay: 1.9s;
}

.jump-10 {
  animation-delay: 2s;
}

.loading-main {
  opacity: 0;
  background-color: white;
  transform: translateY(100vh);
  -webkit-transform: translateY(100vh);
  animation: page-in-top 2s ease-out;
  -webkit-animation: page-in-top 2s ease-out;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

/* animation keyframes */
@keyframes page-out-top {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  20% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  100% {
    transform: translateY(-100vh);
    -webkit-transform: translateY(-100vh);
  }
}

@-webkit-keyframes page-out-top {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  20% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  100% {
    transform: translateY(-100vh);
    -webkit-transform: translateY(-100vh);
  }
}

@keyframes page-in-top {
  0% {
    opacity: 1;
    transform: translateY(100vh);
    -webkit-transform: translateY(100vh);
  }

  20% {
    opacity: 1;
    transform: translateY(100vh);
    -webkit-transform: translateY(100vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes page-in-top {
  0% {
    opacity: 1;
    transform: translateY(100vh);
    -webkit-transform: translateY(100vh);
  }

  20% {
    opacity: 1;
    transform: translateY(100vh);
    -webkit-transform: translateY(100vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

/* 1 */

.loading {
  position: fixed;
  width: 100%;
}

.main-iframe-delay {
  animation-delay: 0.5s;
}

/* animation */

.height-full {
  height: 100%;
}

.overflow {
  overflow-y: hidden;
}

.react-bootstrap-table {
  overflow-x: auto !important;
}

/* 隱藏滾動條 */
body::-webkit-scrollbar {
  width: 0 !important;
}

.react-bootstrap-table::-webkit-scrollbar {
  height: 0 !important;
}

.analysisNone {
  display: none !important;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes jump {
  50% {
    color: red;
    transform: translateY(-2rem);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes jump {
  50% {
    color: red;
    transform: translateY(-0.4rem);
  }

  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 575.98px) {
  .analysisNone {
    display: block !important;
  }

  header,
  .analysisBlock {
    display: none !important;
  }
}
