<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/css/style.css' />

    <title>User Edit</title>
    <script type="text/javascript">
        function Check() {

            var uid = document.getElementsByName('uid')[0].value;
            var name = document.getElementsByName('name')[0].value;
            var email = document.getElementsByName('email')[0].value;
            var pwd = document.getElementsByName('pwd')[0].value;
            if (uid && name && email && pwd) {
                return true;
            }
            alert('please input the info.');
            return false;
        }
    </script>
</head>

<body>

    <form name="editform" action="/users/update" method="post" accept-charset="utf-8" onSubmit="return Check();">
        <h1 class="text-center d-4">User - Edit</h1>
        <div class="form-group">
            <label for="idInput">User ID</label>
            <input type="text" class="form-control" id="idInput" name="uid" value="<%=data[0].uid %>"
                aria-describedby="idHelp" placeholder="User ID" readonly>
        </div>
        <div class="form-group">
            <label for="userNameInput">User Name</label>
            <input type="text" class="form-control" id="userNameInput" name="name" value="<%=data[0].name %>"
                aria-describedby="userNameHelp" placeholder="User Name">
        </div>
        <div class="form-group">
            <label for="emailInput">Email</label>
            <input type="text" class="form-control" id="emailInput" name="email" value="<%=data[0].email %>"
                aria-describedby="emailHelp" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="pwdInput">Password</label>
            <input type="text" class="form-control" id="pwdInput" name="pwd" value="<%=data[0].pwd %>"
                placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>
