.malfunction {
  background-image: url(./wood.jpg);
  background-size: cover;
  background-position: center;
}

@media (min-height: 830px) {
  .malfunction {
    height: 100%;
  }
}

.malfunctionForm {
  background-image: url(./paper.png);
  background-size: cover;
  background-position: center;
  margin-top: 5px;
  width: 450px;
  padding: 50px 50px 40px 50px;
}
