<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/css/style.css' />
    <title>Product Add</title>
    <script type="text/javascript">
        function Check() {
            var id = document.getElementsByName('id')[0].value;
            var name = document.getElementsByName('name')[0].value;
            var price = document.getElementsByName('price')[0].value;
            if (id && name && price) {
                return true;
            }
            alert('please input the info.');
            return false;
        }
    </script>
</head>

<body>
    <div class="container">
        <h1 class="text-center d-4">Product - Add</h1>
        <form name="addform" action="/products/add" method="post" accept-charset="utf-8" onSubmit="return Check();">
            <div class="form-group">
                <label for="prodNameInput">Product Name：</label>
                <input type="text" class="form-control" id="prodNameInput" name="name" aria-describedby="prodNameHelp"
                    placeholder="Product Name">
            </div>
            <div class="form-group">
                <label for="priceInput">Price</label>
                <input type="text" class="form-control" id="priceInput" name="price" placeholder="Price">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>